#countdownModal {
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--modal-bg);
  color: var(--accent-color);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
}

.countdown-number {
  font-size: 100px;
  margin-top: 20px;
  font-weight: bold;
}
