@import url("https://fonts.googleapis.com/css2?family=Carter+One&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Carter One", system-ui;
  color: #fff;
  background-image: url("../assets/images/background-view.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

button {
  font-family: "Carter One", system-ui;
  font-size: 20px;
  padding: 10px 25px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hidden {
  display: none !important;
}