@import url("https://fonts.googleapis.com/css2?family=Carter+One&display=swap");

:root {
  --main-color: #75847F;
  --accent-color: #ffffff;
  --hover-color: #57655F;
  --modal-bg: rgba(0, 0, 0, 0.6);
  --font-main: "Carter One", system-ui;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-main);
  color: var(--accent-color);
  background-image: url("../assets/images/background-view.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

button {
  font-family: var(--font-main);
  font-size: 20px;
  padding: 10px 25px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hidden {
  display: none !important;
}